---
import Layout from "@/layouts/Layout.astro";
import {API} from '@/constants/api'

---
<Layout title="HTMLX">
    <div id="contentFromServer">Loading...</div>
    <div id="htmxCall" hx-target="#contentFromServer"></div>
</Layout>

<script>

    // load content with HTMX
    import { API } from "@/constants/api";
    const htmxEl=document.querySelector("#htmxCall") as HTMLDivElement;
    htmxEl.setAttribute('hx-get',API.URL+"htmx-to-astro");
    htmxEl.setAttribute('hx-trigger','load');

</script>